<aside class="bg-[#FDFBF7] shadow-lg w-64 h-screen flex flex-col">

  <!-- Logo -->
  <div class="flex items-center justify-center h-16 border-b border-gray-100">
    <span class="text-xl font-bold text-gray-900">Admin Panel</span>
  </div>

  <!-- Menu -->
  <nav class="flex-1 px-3 py-6 space-y-3">

    <a routerLink="/admin/dashboard" class="flex items-center gap-4 p-3 rounded-2xl hover:bg-[#FFF1E6]">
      <span class="text-2xl">🏠</span>
      <span class="font-semibold text-gray-900">Dashboard</span>
    </a>

    <a routerLink="/admin/appointments" class="flex items-center gap-4 p-3 rounded-2xl hover:bg-[#FFF1E6]">
      <span class="text-2xl">📋</span>
      <span class="font-semibold text-gray-900">Appointments</span>
    </a>

    <a routerLink="/admin/patients" class="flex items-center gap-4 p-3 rounded-2xl hover:bg-[#FFF1E6]">
      <span class="text-2xl">🧑‍💼</span>
      <span class="font-semibold text-gray-900">Patients</span>
    </a>

    <a routerLink="/admin/doctors" class="flex items-center gap-4 p-3 rounded-2xl hover:bg-[#FFF1E6]">
      <span class="text-2xl">👨‍⚕️</span>
      <span class="font-semibold text-gray-900">Doctors</span>
    </a>

    <a routerLink="/admin/schedules" class="flex items-center gap-4 p-3 rounded-2xl hover:bg-[#FFF1E6]">
      <span class="text-2xl">🗓️</span>
      <span class="font-semibold text-gray-900">Schedules</span>
    </a>
    <a routerLink="/admin/specializations"
   class="flex items-center gap-4 p-3 rounded-2xl hover:bg-[#FFF1E6]">
  <span class="text-2xl">🧠</span>
  <span class="font-semibold text-gray-900">Specializations</span>
</a>


    <a routerLink="/admin/reports" class="flex items-center gap-4 p-3 rounded-2xl hover:bg-[#FFF1E6]">
      <span class="text-2xl">📊</span>
      <span class="font-semibold text-gray-900">Reports</span>
    </a>

  </nav>
</aside>
